<form [formGroup]="form" *ngIf="form">
  <app-input
    label="Product Name"
    ids="Product Name"
    type="text"
    placeholder="Product Name"
    [fc]="getFormControl('name')"
  ></app-input>

  <app-input
    label="Product Type"
    ids="Product Type"
    type="radio"
    [options]="[{
      label: 'type1',
      value: 1
    },{
      label: 'type2',
      value: 2
    }]"
    [fc]="getFormControl('type')"
  ></app-input>

  <app-input
    label="Product Category"
    ids="Product Category"
    type="text"
    placeholder="Product Category"
    [fc]="getFormControl('category')"
  >
    <app-input
      type="checkbox"
      [options]="[{label: 'This is a sub category'}]"
      containerclasses="form-group margin-top-05"
      [fc]="getFormControl('isSub')"
    ></app-input>
  </app-input>

  <div class="row">
    <div class="col-sm-6">
      <app-input
        label="Reference ID"
        ids="Reference ID"
        hint="(Optional)"
        type="number"
        placeholder="Reference ID"
        [fc]="getFormControl('refId')"
      ></app-input>
    </div>
    <div class="col-sm-6">
      <app-input
        label="Password"
        ids="Password"
        type="Password"
        placeholder="Password"
        [fc]="getFormControl('password')"
      ></app-input>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-input
        label="Delivery Fees"
        ids="Delivery Fees1"
        srOnly="EGP"
        type="number"
        placeholder="Delivery Fees"
        [fc]="getFormControl('dFeesC')"
      ></app-input>
    </div>
    <div class="col-sm-6">
      <app-input
        label="Delivery Fees"
        ids="Delivery Fees2"
        srOnly="%"
        type="number"
        placeholder="Delivery Fees"
        [fc]="getFormControl('dFeesP')"
      ></app-input>
    </div>
  </div>

  <div class="form-group submit-section">
    <div class="row">
      <div class="col-sm-5 col-5 text-left">
        <button class="btn color-danger" (click)="delete()" *ngIf="isEdit">
          Delete
        </button>
      </div>
      <div class="col-sm-7 col-7 text-right">
        <button type="reset" class="btn" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="save()">
          Save
        </button>
      </div>
    </div>
  </div>
</form>
