<form [formGroup]="form" *ngIf="form">
  <app-input
    label="Product Name"
    type="text"
    placeholder="Product Name"
    [fc]="getFormControl('name')"
  ></app-input>

  <app-input
    label="Product Type"
    type="radio"
    [options]="['type1', 'type2']"
    [fc]="getFormControl('type')"
  ></app-input>

  <app-input
    label="Product Category"
    type="text"
    placeholder="Product Category"
    [fc]="getFormControl('category')"
  >
    <app-input
      type="checkbox"
      [options]="['This is a sub category']"
      containerclasses="form-group margin-top-05"
      [fc]="getFormControl('isSub')"
    ></app-input>
  </app-input>

  <div class="row">
    <div class="col-sm-6">
      <app-input
        label="Reference ID"
        hint="(Optional)"
        type="number"
        placeholder="Reference ID"
        [fc]="getFormControl('refId')"
      ></app-input>
    </div>
    <div class="col-sm-6">
      <app-input
        label="Password"
        type="Password"
        placeholder="Password"
        [fc]="getFormControl('password')"
      ></app-input>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-input
        label="Delivery Fees"
        srOnly="EGP"
        type="number"
        placeholder="Delivery Fees"
        [fc]="getFormControl('dFeesC')"
      ></app-input>
    </div>
    <div class="col-sm-6">
      <app-input
        label="Delivery Fees"
        srOnly="%"
        type="number"
        placeholder="Delivery Fees"
        [fc]="getFormControl('dFeesP')"
      ></app-input>
    </div>
  </div>

  <div class="form-group submit-section">
    <div class="row">
      <div class="col-sm-6 text-left">
        <button class="btn color-danger" *ngIf="isEdit">Delete</button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="reset" class="btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</form>
