<div [class]="containerclasses">
  <!-- label -->
  <label *ngIf="label" class="main-label" [for]="label + '-id' | removeSpaces"
    >{{ label }} <small>{{ hint }}</small></label
  >
  <!-- label -->
  <ng-container *ngIf="!srOnly && type !== 'radio' && type !== 'checkbox'">
    <input [formControl]="fc"
    [type]="type"
    [placeholder]="placeholder"
    [class]="classes"
    [id]="ids + '-id' | removeSpaces"
    autocomplete="off"
  />
  </ng-container>

  <!-- srOnly -->
  <ng-container  *ngIf="srOnly">
    <label class="sr-only" for="label + '-id' | removeSpaces">{{ srOnly }}</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">{{ srOnly }}</div>
      </div>
      <input [formControl]="fc"
        [type]="type"
        [placeholder]="placeholder"
        [class]="classes"
        [id]="ids + '-id' | removeSpaces"
        autocomplete="off"
      />
    </div>
  </ng-container>
  <!-- srOnly -->
  <!-- checkbox -->
  <ng-container *ngIf="type === 'checkbox'">
    <label class="custom-input-container" *ngFor="let option of options">
      {{option.label}}
      <input type="checkbox" [formControl]="fc" [name]="label | removeSpaces">
      <span class="checkmark"></span>
    </label>
  </ng-container>
  <!-- checkbox -->

  <!-- radio -->
  <ng-container *ngIf="type === 'radio'">
    <label class="custom-input-container" *ngFor="let option of options">
      {{option.label}}
      <input type="radio" [formControl]="fc" [value]="option.value" [name]="label | removeSpaces">
      <input type="radio" [formControl]="fc" [value]="option.value" [name]="label | removeSpaces">
      <span class="checkmark"></span>
    </label>
  </ng-container>
  <!-- radio -->
  <ng-content></ng-content>

</div>
