.dropdownComponent {
  width: 100%;
  margin-bottom: 1rem;
  button {
    width: 100%;
    border-color: #d6d6d6;
    background-color: white !important;
    text-align: left;
    color: #828282 !important;
    font-size: 1rem;
    &::after {
      position: absolute;
      margin: 0 12px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../../../../../assets/icons/arrow.svg);
      border: 0;
      width: 20px;
      height: 10px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: white !important;
      box-shadow: none !important;
      border-color: #d6d6d6;
    }
    .selected-product {
      color: #3d3d3d !important;
    }
  }
  .dropdown-menu {
    width: 100%;
    box-shadow: none !important;
    .search-list {
      input {
        width: 100%;
      }
    }
    .list {
      max-height: 150px;
      overflow: scroll;
    }
    button {
      padding: 10px 12px;
      color: #3d3d3d !important;
      // height: 38px;
      // margin: 5px 0;
    }
  }
}
