/* You can add global styles to this file, and also import other style files */


/* change the colors */
$primary: #01E2D8;

@import "bootstrap";



body {
    padding-top: 90px;
    background-color: #F6F7FB;
    color: #3D3D3D;
}

input[type="checkbox"] {
  accent-color: $primary;
}

input[type="radio"] {
  accent-color: $primary;
}

.btn-primary {
  color: white;
}
