/* You can add global styles to this file, and also import other style files */


/* change the colors */
$primary: #01E2D8;

:root {
  --main-color: #00BCB4;
}

@import "bootstrap";


.margin-top-05 {
  margin-top: 0.5rem;
}


body {
    padding-top: 90px;
    background-color: #F6F7FB;
    color: #3D3D3D;
}

.btn-primary {
  color: white;
}
